@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Alike);

body{
  margin: 0 auto;
  background-color: #1f2140;
  color: white;
  width: 75%;
}

header{
  margin: 0 auto;
  width: 100%;
  background-color: maroon;
  color: white;
  text-align: center;
}

header h1{
  margin: 0;
  font-family: Lato;
  font-size: 42px;
  letter-spacing: 15px;
  padding-top: .25em;
}

header h2{
  margin: 0;
  font-family: Lato;
  font-size: 18px;
  letter-spacing: 5px;
  padding-bottom: 1em;
  padding-top: .5em;
  font-style: italic;
}

nav{
  margin: 0 auto;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  background-color: white;
  font-family: Lato;
  font-size: 12px;
  letter-spacing: 3px;
}

h3{
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 5px;
  color:white;
  font-style: bold;
  font-size: 26px;
  font-family: Lato;
  text-align: center;
}

#description1{
  font-family: Lato;
  font-style: italic;
  text-align: left;
  font-size: 15px;
  padding-left: .5em;
  padding-bottom: .25em;
  padding-top: .25em;
  text-align: center;
}

#lentil1{
  margin: 0;
  width: 100%;
  background-color: maroon;
  padding-top: .25em;
}

#ingredients{
  width: 99%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding-left: .5em;
  padding-bottom: .25em;
  padding-top: .25em;
  font-family: Alike;
}

#instructions{
  width: 99%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding-left: .5em;
  padding-bottom: .25em;
  padding-top: .25em;
  font-family: Alike;
}

#tips{
  width: 99%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding-left: .5em;
  padding-bottom: .25em;
  padding-top: .25em;
  font-family: Alike;
  font-style: italic;
  background-color: maroon;
}
img{
  float: right;
  padding-right: 4em;
}
